<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Vue</h1>
<div id='app'>
    <h1>{{title}}</h1>
    <label>test1</label>
    <input type="text" v-model="test1" key="test1key">
    <label>test1</label>
    <input type="text" v-model="test2" key="test2key">

    <button v-on:click="buttonClicked">Click</button>
</div>


<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

  window.app = new Vue({
    el: '#app',
    data: () => {
      return {
        blabla: true,
        test1: '',
        test2: '',
        list: [],
        screenWidth: window.outerWidth
      };
    },
    mounted: function () {
      window.addEventListener('resize', () => this.screenWidth = window.outerWidth);
    },
    beforeDestroy: function () {

    },
    computed: {
      total: function () {
        return this.list.length;
      },
      title: function () {
        return `${this.test1} ${this.test2} - ${this.screenWidth}`;
      }
    },
    watch: {
      test1: function (newValue, oldValue) {
        console.log(`${oldValue} - ${newValue}`);
      }
    },
    methods: {
      buttonClicked: function () {
        this.blabla = !this.blabla;
      },
    },
  });

</script>

</body>
</html>
